.MMM-D2L {
	color: var(--color-text-bright);
	font-family: Roboto, sans-serif;
}

.d2l-table .d2l-name {
	text-align: right;
}

.d2l-table .d2l-value {
	text-align: right;
	padding-left: 1rem;
}

.d2l-chart {
	margin-left: auto;
	display: block;
	box-sizing: border-box;
	height: 100px;
	width: 200px;
}
